@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Crear usuario";
}
<div class="">
    <div id="">

        <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"></path>
            </svg>
            <h1 class="display-4">Crear usuario de USUARIO</h1>
        </div>

        <br />
        <br />

        <form action="@Url.Action("registrarUs","Usuarios")" method="post" class="form_conteiner">
            <section>
                <div>
                    <input type="number" name="_dni" class="input_user" value="" placeholder="Dni">
                    <input type="text" name="_nombre" class="input_user" value="" placeholder="Nombre">
                </div>
                <br />
                <div>
                    <input type="text" name="_apellido" class="input_user" value="" placeholder="Apellido">
                    <input type="text" name="_mail" class="input_user" value="" placeholder="Email">
                </div>
            </section>
            <br />

            <div>
                <input type="number" name="_password" class="input_user" value="" placeholder="Clave">

                <div>
                    <input type="checkbox" name="_esUsuarioAdmin" id="_esUsuarioAdmin" value="1" />
                    <label for="_esUsuarioAdmin">Es Usuario Administrador</label>
                </div>

                <div>
                    <select name="_segmento" id="segmento">
                        <option value="1">Segmento 1</option>
                        <option value="2">Segmento 2</option>
                        <option value="3">Segmento 3</option>
                    </select>
                </div>
            </div>

            <br />

            <button type="submit" class="btn btn-primary">Confirmar</button>

            <div class=" alert-danger">
                @ViewBag.ErrorU
            </div>
            <div class=" alert-success">
                @ViewBag.Info
            </div>
                <br /> <br />
            
        </form>



    </div>
</div>